# 忽略build目录下类型为js的文件的语法检查
build/*.js
# 忽略src/assets目录下文件的语法检查
src/assets
src/views/system
src/views/tool
src/views/monitor
src/views/tool
src/utils
src/api/system
src/api/tool
src/components
src/store
src/directive
src/layout
# 忽略public目录下文件的语法检查
public
# 忽略当前目录下为js的文件的语法检查
# *.js
# # 忽略当前目录下为vue的文件的语法检查
# *.vue